/* BookManager.css */

.book-manager-container {
    width: 27%;
    background-color: #ffffff;
    padding: 1em;
    margin-top: 1%;
    margin-bottom: 1.7%;
  }
  
  .book-form {
    display: flex;
    flex-direction: column;
  }
  
  .book-form label {
    margin-bottom: 8px;
  }
  
  .book-form input,
  .add-book-button {
    margin-bottom: 16px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .add-book-button {
    background-color: #5d573f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-book-button:hover {
    background-color: #9b9779;
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .book-manager-container {
      width: 80%; /* Reducir el ancho para dispositivos móviles */
      margin: 0 auto; /* Centrar el contenedor */
      padding: 0.8em; /* Ajustar el relleno para dispositivos móviles */
    }
  
    .book-form input,
    .add-book-button {
      margin-bottom: 12px; /* Reducir el espacio entre elementos en dispositivos móviles */
      padding: 10px; /* Reducir el relleno para dispositivos móviles */
      font-size: 14px; /* Reducir el tamaño de la fuente para dispositivos móviles */
    }
  }