.book-detail_container {
  display: flex;
  justify-content: center; 
}
.book-detail {
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1.25em;
    background-color: white;
    color: black;
    border-radius: 0.5em;
     box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.12); 
    margin: 3% 5% 1% 5%;
  }
  
  .book-image {
    width: 40%;
  }
  
  .book-image img {
    max-width: 90%;
    height: auto;
    border-radius: 0.5em;
  }
  
  .book-info {
    width: 60%;
    margin-left: 7%
  }
  
  .book-title {
    font-size: 1.5em;
    margin-bottom: 0.625em;
  }
  
  .book-price {
    font-size: 1.2em;
    margin-bottom: 0.625em;
  }
  
  .book-description {
    margin-bottom: 1.25em;
  }
  
  .quantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
  }
  
  .quantity-buttons {
    display: flex;
    align-items: center;
  }
  
  .quantity-button {
    padding: 0.3125em 0.625em;
    margin: 0 0.3125em;
    border: none;
    background-color: lightgrey;
    cursor: pointer;
    border-radius: 0.25em;
  }
  
  .quantity {
    font-size: 1em;
    padding: 0 0.625em;
    background-color: #D3D3D3;
  }
  
  /* .add-to-cart {
    padding: 0.625em 1.25em;
    border: 0.0625em solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 0.25em;
  } */

  .libreria-castro__boton-agregar-carrito {
    margin-left: 5%;
  }
  
  .add-to-favorites {
    padding: 0.625em 1.25em;
    background-color: lightgrey;
    color: grey;
    border: none;
    cursor: pointer;
    border-radius: 0.25em;
    font-family: 'DM Sans', sans-serif;
  }

  @media (max-width: 768px) {
    .book-detail {
      width: 90%;
      flex-direction: column;
      margin: 3% 2% 5% 2%; 
    }
    .book-image {
      hegith: 80%;
      width: 60%; 
      margin-bottom: 1.5em;
    }

  
    .book-info {
      width: 80%; 
    }
  
    .book-title {
      font-size: 1.2em; 
    }
  
    .book-price {
      font-size: 1em; 
    }
  
    .book-description {
      margin-bottom: 1em; 
    }
  
    .quantity {
      font-size: 1em; 
    }
  
    .quantity-button {
      padding: 0.25em 0.5em; 
      margin: 0 0.25em;
      font-size: 0.8em; 
    }
  
    .add-to-favorites {
      padding: 0.5em 1em; 
      font-size: 0.9em; 
    }
  }
