.libreria-navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .libreria-navbar_nav-links p {
margin-right: 1rem;
  }
  
  .libreria-navbar_nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .libreria-navbar_nav-links li a {
    margin-right: 1rem;
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto de su contenedor */
  }

  .libreria-navbar_nav-links li {
    margin: 0 0.5rem 0 0.5rem; 
  }
  
.libreria-navbar_container-logo {
     padding-left: 3%; 
    }
  /* Media queries para dispositivos móviles y tabletas */
  @media screen and (max-width: 768px) {
    .libreria-navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .libreria-navbar_nav-links {
      margin-top: 1rem;
    }
  }