.castros_products__contenedor {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.castros_products__contenedor_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.castros_products__card {
  width: calc(33.33% - 5%);
  margin-bottom: 2%;
  text-align: center;
}

@media (max-width: 767px) {
  .castros_products__card {
    width: calc(100% - 1%);
  }
}

.castros_products__imagen {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.castros_products__boton_carrito,
.castros_products__boton_like {
  background-color: #ece9e2;
  color: #fff;
  padding: 2% 4%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2%;
}

.castros_products__contenedor_paginacion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.castros_products__boton_paginacion,
.castros_products__boton_flecha {
  padding: 1% 2%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.castros_products__boton_paginacion_actual {
  background-color: #5D573F;
  color: #fff;
  padding: 1% 2%;
  border: 1px solid #ccc;
}

.castros_products__boton_flecha {
  background-color: transparent;
  cursor: pointer;
  margin: 0 1%;
}

